@font-face {
  font-family: "Fira Mono";
  src: url("./assets/FiraMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Fira Mono";
  src: url("./assets/FiraMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: clamp(1rem, 1rem + 2.6667vw, 2rem);
}

main {
  height: 100vh;
  font-family: "Fira Mono", monospace;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  max-width: 80vh;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  cursor: pointer;
  padding: 0;
  margin: 0.1em;
  border-radius: 0.2em;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.square:hover {
  background-color: honeydew;
}

.square img {
  display: block;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.pick-mark {
  max-width: 100%;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: ghostwhite;
  padding: 1em 2em;
}

.pick-btn {
  display: block;
  padding: 0.3em 0.8em;
  border-radius: 100%;
  width: 3em;
  height: 3em;
  transition: background-color .5s ease-out;
}

.pick-btn:hover:not(.selected) {
  outline: 2px solid #dae0e8;
}

.play-btn {
  border-radius: 1em;
  padding: 0.5em 1em;
  background-color: ghostwhite;
  transition: background-color .5s ease-out;
}

.play-btn:hover,
.pick-btn.selected {
  background-color: #dae0e8;
}

.info {
  opacity: 0.7;
}

.status {
  text-align: center;
}

img {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

img.show {
  visibility: visible;
  opacity: 1;
}

.win {
  outline: 2px solid turquoise;
}